h3 {
  font-family: 'Hind Guntur', sans-serif;
  width: 50%;
  text-align: center;
  margin-left: 300px;
  color: #307672;
}

hr {
  border-style: dotted none none none;
  border-color: #1b262c;
  border-width: 5px;
  width: 5%;
  margin: 50px auto;
}

.top-container {
  width: 50%;
  margin: 10px auto 50px 500px;
  line-height: 2;
}

.logo {
  font-family: 'Comfortaa', cursive;
}

.aboutus {
  background-color: #d7fbe8;
  font-family: 'Encode Sans', sans-serif;
  text-align: center;
}

.middle-container {
  background-color: #d7fbe8;
  font-family: 'Hind Guntur', sans-serif;
}

.organic {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.berries {
  float: left;
  margin-right: 30px;
}

.basket{
  float: left;
  margin-right: 30px;
}

.shopping{
  float: left;
  margin-right: 30px;
}

.middle-container{
  padding: 50px;
}

.touch{
  font-family: 'Encode Sans', sans-serif;
  text-align: center;
  padding: 20px;
}

.bottom-container{
  text-align: center;
  padding: 10px;
}

.copyrights{
  font-family: sans-serif;
  padding: 40px;
}

.myButton {
  box-shadow: 0px 1px 0px 0px #3dc21b;
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border-radius: 6px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2f6627;
}

.myButton:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}

.myButton:active {
  position: relative;
  top: 1px;
}
